<% include partials/head %>
<head>
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

       <div class="logoW" style= "text-align: center; padding-bottom:75px; padding-top: 0px;">
<img src="logo-image.png">
</div>

  <div class="move" style= "padding-left:86px;">
      <div class="card">
          <div class="card-body" style= "background-color: rgba(56, 84, 98, .85); padding-top:15px; padding-bottom:40px; width: 550px; border-radius: 8px;">


      
        <p class="lead"><h2 style="font-family: 'Playfair Display', serif;
  font-size: 40px; color: rgba(255, 255, 255, .99); font-weight: bold; text-align: center; padding-bottom: 32px;">Login or Signup</h2></p>
        
       <div class="buttons" style="text-align: center;">
              <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
              <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
              <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
              <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
              <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        </div>
      </div>
    </div>
   </div>     

      
      
  </div>

      
    </div>

  </body>
</html>
